@charset "utf-8";
/*
 * Author: Yoann Bentz (Yoone)
 * Website: yoone.eu
 */

body {
    width: 250px;
}

a {
    color: #c00;
    text-decoration: none;
}
    a:hover {
        text-decoration: underline;
    }

h1 {
    margin-top: 0;
    font-size: 16px;
    text-align: center;
}
    h1 span {
        color: #c00;
    }

input[type="text"] {
    width: 100px;
}
